<section>
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 é {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
        <p>Curso angular e gosto do curso: {{ cursoAngular && getCurtirAngular() }} </p>
    </article>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}" alt="">
        <img [src]="urlImagem" alt="">
        <img bind-src="urlImagem" alt="">
    </article>
    <article>
        <h3>Class and Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Success</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alert</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br>
            <br>
            <!--Class Binding-->
            <div class="alert {{classe.value}}" role="alert">Texto colorido conforme o valor do combo box</div>
            <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">A simple success alert—check it out!</div>
            <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">A simple info alert—check it out!</div>
            <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">A simple warning alert—check it out!</div>
            <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">A simple danger alert—check it out!</div>

            <!--Style Binding-->
            <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger'? 'block': 'none'">A simple danger alert—check it out!</div>
        </div>
    </article>
    <article>
        <h3>Event Binding</h3>
        <div>
            <button (click)="buttonClicked()" 
            class="btn btn-primary">
            Click me!
            </button>
            <br><br>
            <input #inputField type="text"
            (keyup)="onKeyUp($event)"
            (keyup.enter)="saveValue(inputField.value)"
            (blur)="saveValue($any($event.target).value)"
            >
            <p>Valor atual: {{ currentValue }}</p>
            <p>Valor salvo: {{ savedValue }}</p>
            <span
             (mouseover)="onMouseOverOut()"
             (mouseout)="onMouseOverOut()"
             [class.highlight]="isMouseOver"
            >
            Passe o mouse sobre mim!
            </span>
        </div>    
    </article>
    <br><br>
    <app-form></app-form>
</section>
